[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
  --config={{deployed_kube_scheduler_config_file }} \
  --v={{ kube_verbose_level }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
