[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr={{ cluster_cidr }} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ deployed_ca_pem_file }} \
  --cluster-signing-key-file={{ deployed_ca_key_file }} \
  --kubeconfig={{ deployed_kube_controller_manager_kubeconfig_file }} \
  --authorization-kubeconfig={{ deployed_kube_controller_manager_kubeconfig_file }} \
  --authentication-kubeconfig={{ deployed_kube_controller_manager_kubeconfig_file }} \
  --leader-elect=true \
  --root-ca-file={{ deployed_ca_pem_file }} \
  --service-account-private-key-file={{ deployed_kube_controller_manager_key_file }} \
  --service-cluster-ip-range={{ service_cluster_ip_range }} \
  --use-service-account-credentials=true \
  --v={{ kube_verbose_level }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
