{
  "CN": "system:kube-proxy",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ country_csr }}",
      "L": "{{ city_csr }}",
      "O": "system:node-proxier",
      "OU": "{{ ou_csr }}",
      "ST": "{{ state_csr }}"
    }
  ]
}
