{
  "hosts": [
    "localhost",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ country_csr }}",
      "L": "{{ city_csr }}",
      "O": "Kubernetes",
      "OU": "{{ ou_csr }}",
      "ST": "{{ state_csr }}"

    }
  ]
}
