{% if ansible_distribution_release == "bionic" %}
load_module /usr/lib/nginx/modules/ngx_stream_module.so;
{% endif %}

user www-data;
pid /run/nginx.pid;
error_log stderr notice;
worker_processes auto;
events {
	multi_accept on;
	use epoll;
	worker_connections 1024;
}

http {
    include /etc/nginx/sites-enabled/*;
}

stream {
	upstream kube_apiserver {
		least_conn;
		{% for m in groups['masters'] %}
		server {{ hostvars[m].public_ip }}:6443;
		{% endfor %}
	}

	server {
		listen 127.0.0.1:6443;
		proxy_pass kube_apiserver;
		proxy_timeout 10m;
		proxy_connect_timeout 1s;
	}
}
