    {
        "cniVersion": "0.3.1",
        "name": "bridge",
        "type": "bridge",
        "bridge": "cnio0",
        "mtu": 8800,
        "isGateway": true,
        "ipMasq": true,
        "ipam": {
            "type": "host-local",
            "ranges": [
              [{"subnet": "{{ cni_host_subnet }}"}]
            ],
            "routes": [{"dst": "0.0.0.0/0"}]
        }
    }
