kind: KubeProxyConfiguration
apiVersion: kubeproxy.config.k8s.io/v1alpha1
clientConnection:
  kubeconfig: "{{ kube_proxy_kubeconfig_file }}"
mode: "{{ kube_proxy_mode }}"
clusterCIDR: "{{ cluster_cidr }}"
