[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config={{ kubelet_config_file }} \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
  --image-pull-progress-deadline=2m \
  --kubeconfig={{ kubelet_kubeconfig_file }} \
  --network-plugin=cni \
  --register-node=true \
  --v={{ kube_verbose_level }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
