{
  "CN": "{{ ansible_host }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ countrycsr }}",
      "L": "{{ citycsr }}",
      "O": "system:nodes",
      "OU": "{{ oucsr }}",
      "ST": "{{ statecsr }}"
    }
  ]
}
