clearml:
  agentk8sglueKey: {{ CLEARML_ACCESS_KEY }}
  agentk8sglueSecret: {{ CLEARML_SECRET_KEY }}

imageCredentials:
  password: "{{ CLEAML_DKR_TKN }}"

agentk8sglue:
  # Internal ClearML Server endpoints
  apiServerUrlReference:  "http://clearml-enterprise-apiserver.clearml.svc.cluster.local:8008"
  webServerUrlReference:  "http://clearml-enterprise-webserver.clearml.svc.cluster.local:8080"
  fileServerUrlReference: "http://clearml-enterprise-fileserver.clearml.svc.cluster.local:8081"

  # Disable TLS certificate checking because these are internal HTTP service URLs.
  clearmlcheckCertificate: false
  
  # Queue settings
  queue: k8s
  queuePollingIntervalSec: 5
  createQueues: true

  # Set Default Container Image
  defaultContainerImage: "python:3.10-bookworm"

  # Set Namespace where Jobs will run (if the chart supports it)
  k8sNamespace: clearml-workers

  # Default pod behavior for tasks spawned by the agent
  basePodTemplate:
    nodeSelector:
      role: clearml-worker
    volumes:
      - name: cache
        emptyDir:
          sizeLimit: 1Gi
    volumeMounts:
      - name: cache
        mountPath: /root/.cache
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

  queues:
    k8s:
      templateOverrides: {}
      queueSettings: {}
