apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: demo-ingress
  namespace: default
spec:
  ingressClassName: nginx
  rules:
  - host: {{ BASEURL }}
    http:
      paths:
      - backend:
          service:
            name: demo-svc
            port:
              number: 80
        path: / 
        pathType: Prefix
