apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-k-deployment
  labels:
    owner: examplecorp
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.19.6
        ports:
          - containerPort: 80
